<div id="malesOutput">
	<% for (var key in ancestry) { %>
		<%if(ancestry[key].display['gender'] == "Male"){ %>
			<% var name= ancestry[key].display['name']; %>
			<% var firstName = name.substr(0, name.indexOf(" ")); %>
			<div class="person-name"><%= firstName %></div>
		<% } %>	
	<% } %>	
</div>