<%- include('partials/header') %>

<div class="container">
  <div class="text-center">
    <h1>Ancestor Names<br><small>App for viewing your ancestors' names</small></h1>
    <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
  </div>
</div>
  
<%- include('partials/footer') %>