<!DOCTYPE html>
<html>
	<head>
		<title>Pedigree</title>

		<meta charset="UTF-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/stylesheets/home.css">
		<link rel="stylesheet" href="/stylesheets/signin.css">
	</head>
	
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

			<a class="navbar-brand" href="#" id="author">Vlad Kazandzhi</a>
			<a class="navbar-brand" href="#" id="current-page">Pedigree</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="nav navbar-nav mr-auto">

					<% if(session.user){ %>
						<li class="nav-item">
							<a class="nav-link" href="#"> <%= session.user.contactName %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signout"> Sign Out</a>
						</li>
					<% } else { %>
						<li class="nav-item">
							<a class="nav-link" href="/signin"> Sign In</a>
						</li>
					<% } %>

					<li class="nav-item">
						<a class="nav-link" href="http://w3playground.com/"> Home</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			
			<div class="text-center">
				
				<span class="appName">Pedigree</span>
				<br><br>
				<span class="appDescription">An app for viewing your ancestors' names</span>
				
				<div>
					<a href="/signin" class="btn btn-success btn-lg">Sign In</a>
				</div>
				
				<span class="loginHint"><i>Log in with the username <span class="username">tum000146215</span><br>and password <span 									class="password">1234pass</span></i></span>
				
			</div>
		</div>

		<%- include('partials/footer') %>
	
	</body>
</html>