body {
	background-color: #f5f5dc;
}

#current-page {
	color: #f7cf7c;
}

#author {
	color: white;
}

.nav-link {
	color: white !important;
	font-size: .9em;
}

.nav-link:hover{
	background-color: #329760;
}

.navbar {
	background-color: #347a34 !important;
}